.container{
  flex-grow: 1;
  height: 0;
  padding: 16px 0;
  > div + div{
    margin-top: 16px
  }
}
.header{
  >div:first-child{
    width: 70%;
  }
  >div:nth-child(2){
    width: 30%;
    justify-content: flex-end;
  }
  .headerItem{
    >div{
      margin-right: 16px;
      margin-top: 16px;
    }
  }
}
.table{
  flex-grow: 1;
  position: relative;
  height: 0;
}
.formItem{
  >div{
    margin-bottom: 16px;
  }
}
.pagination{
  margin-top: 8px !important;
}